    <div id="navbar" class="flex-parent">
        <img id="esmc-logo" src="/img/ESMC_logo.svg" />
        <div id="profile" class="flex-parent">
            <img id="profile-icon" src="/img/profile_icon.svg" />
            <img id="profile-dropdown" src="/img/profile_dropdown.svg" />
        </div>
    </div>