<div id="navbar" class="flex-parent flex-justified">
    <img id="esmc-logo" src="/img/ESMC_logo.svg">
    <div class="flex-parent" id="menu">
        <div class="topbar-menu" id="homepage">
            <p class="topbar-links"><a id="homepage-link" href="/">HOME</a></p>
        </div>
        <div class="topbar-menu" id="branches">
            <p class="topbar-links"><a id="branches-link" href="branches">BRANCHES</a></p>
        </div>
        <div class="topbar-menu" id="search-page">
            <p class="topbar-links"><a id="search-page-link" href="/search_parcel">SEARCH PARCEL</a></p>
        </div>
    </div>
    <a class="contact-us-link" href="./contact_us">CONTACT US</a>
</div>