<div class="header">
    <h3>
        <span>Logo</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- &nbsp; means space -->
        <span>
            <a href="/info">ABOUT US</a> | 
            <a href="/tracker">SEARCH PARCEL</a> | 
            <a href="/contact">CONTACT US</a>
        </span>
    </h3>
</div>
