################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Parcel-Tracking-Website/FileContentIndex/695bd393-3a86-4f4e-b3f5-bec7c311a43b.vsidx
/.vs/Parcel-Tracking-Website/FileContentIndex/cfbfb2e7-63aa-4654-9ca8-55f321c0ad08.vsidx
