<!doctype html>
<html lang="en">
  <head>
    <title>Search | ESMC</title>
    <link rel="stylesheet" href="/css/{{css}}.css" />
  </head>
  <body>
    {{> adminheader }}
    {{{ body }}}
    {{> footer }}
  </body>
</html>