<!doctype html>
<html lang="en">
  <head>
    <title>Search | ESMC</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/order.js"></script>
    <link rel="stylesheet" href="/css/{{css}}.css" />
  </head>
  <body>
    {{> adminheader }}
    {{{ body }}}
    {{> footer }}
  </body>
</html>