<h1>BRANCHES</h1>
<div id="search-bar">
    <!-- search functionality here -->
    <form action="#">
        <input id="placeholder" type="text" placeholder="Search" name="search" />
        <button>Find</button>
    </form>
</div>
<h2>GREATER MANILA</h2>
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Manila</h3>
        <p class="branch-text" id="main-branch">Main Branch</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">422 Z. P. De Guzman St., Quiapo, Manila 1001 Metro Manila</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Lerma Ang</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0919 277 9950 / 0917 460 0084</p>
        </div>
    </div>
    <div class="branch">
        <h3>Batangas</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Rizal Ave. Extension, Brgy. Santa Clara, Batangas City (Beside Mac Sor Hotel, 600 M from Batangas Port)</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Former Mayor Ed Mazo</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0995 202 4866</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Cabuyao, Laguna</h3>
        <p class="branch-text">Sat</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">194 Banlic, Purok 2, Cabuyao, Laguna</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Minnie Alicando Borbe</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0975 214 7104 / 0935 263 4700</p>
        </div>
    </div>
    <div class="branch">
        <h3>Commonwealth</h3>
        <p class="branch-text">Mon, Wed, Fri</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">#6 Kalusugan St., Batasan Hills, Quezon City</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Roma Azares</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0921 413 0414 / 0967 138 6605</p>
        </div>
    </div>
</div>
<!-- until here -->
    <!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Cubao</h3>
        <p class="branch-text">Mon &ndash; Sat</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Mary Grace Haven Bldg. 25 Denver St. Corner New York St. Brgy. Immaculate Conception, Cubao, Quezon City</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Neth Rotoni</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0918 765 8926 / 0926 026 4666</p>
        </div>
    </div>
    <div class="branch">
        <h3>Gen. Trias</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Block 72, Lot 72, Cluster 5, Massa St. Villa Bista, General Trias, Cavite</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Leila Vega / Ramonsito Madali</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0917 861 0372 / 0917 110 3432</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Imus</h3>
        <p class="branch-text">Tue, Fri</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Blk 2, Lot 29 Villa Amparo Sulo Bayan Luma 4, Imus Cavite</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Imelda Rubas</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0975 226 5290 / 0961 149 2457</p>
        </div>
    </div>
    <div class="branch">
        <h3>Kumintang, Batangas</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">#6 Munlintapang Road, Kumintang Ibaba, Batangas City</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Christian Mark Falcutila</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0906 323 7225</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Las Pi&ntilde;as</h3>
        <p class="branch-text">Tue, Fri</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Unit D. Erg Bldg. 286 Marcos Ave. Talon V. Las Pi&ntilde;as City</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Manuel Rabino</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0961 142 5805 / 0906 058 4405</p>
        </div>
    </div>
    <div class="branch">
        <h3>Para&ntilde;aque</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">392 13th Street, Purok 4, Silverio Compound, San Isidro, Para&ntilde;aque City (Angie Store)</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Catherine Repe / Angela Duka</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0994 075 0152 / 0994 737 0727</p>
        </div>
    </div>
</div>
<!-- until here -->
    <!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Pasay</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">754 F. Cruz St. Malibay, Pasay City</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Mike Martin</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0985 042 7059</p>
        </div>
    </div>
    <div class="branch">
        <h3>Pasig</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Block 2, Lot 4, Golden Homes Subd. Sandoval Ave. Pinagbuhatan, Pasig</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Lovella Tutor / Sunny Rutor</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0994 700 4298</p>
        </div>
    </div>
</div>
<!-- until here -->
<h2>ROMBLON, ROMBLON</h2>
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Banton</h3>
        <p class="branch-text">Mon, Wed, Fri</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Poblacion, Banton, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Kap. Tyron "Obet" Fojas</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0966 486 7491</p>
        </div>
    </div>
    <div class="branch">
        <h3>Corciera</h3>
        <p class="branch-text">Tue, Thu, Sat</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Poblacion, Corcuera, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Judy Ann Villanueva</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0999 433 2542</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Romblon, Romblon</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Manuel Roxas St., Romblon, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Genedine "Delay" Belaro</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0969 503 9137 / 0936 956 4103 / 0915 761 4217</p>
        </div>
    </div>
    <div class="branch">
        <h3>Sawang</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Sawang, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Cora Melano Angeles</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0918 467 8368</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Tambac</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Brgy. Tambac, Romblon, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Diana Molina</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0946 215 5904</p>
        </div>
    </div>
</div>
<!-- until here -->
<h2>SIBUYAN ISLAND, ROMBLON</h2>
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Azagra</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Centro, Azagra, San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Nea Banzuelo</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0966 738 5530</p>
        </div>
    </div>
    <div class="branch">
        <h3>Cabangahan</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Cabangahan, Danao, Cajidiocan, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Necy Moral</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0946 574 3177</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Cajidiocan</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Beside M Lhuillier, Roxas St., Sugod, Cajidiocan, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Marisa Roa</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0926 425 1626</p>
        </div>
    </div>
    <div class="branch">
        <h3>Campalingo</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">D & K Sari-Sari Store, Campalingo San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Doniesiel / Kenn Banzuelo</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0917 195 3076</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
    <div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Canjalon</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Canjalon, San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Fraty Bautista</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0939 135 3750</p>
        </div>
    </div>
    <div class="branch">
        <h3>Cantagda</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Cantagda, Cajidiocan, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Mark Modena</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0951 604 8048</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Danao</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Annie's Store, Danao, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Zairen Rabio / Annie Rabino</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0929 815 5278</p>
        </div>
    </div>
    <div class="branch">
        <h3>Espa&ntilde;a</h3>
        <p class="branch-text">Daily except Saturday</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Espa&ntilde;a, San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Jordana Alicando</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0975 719 2500</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Lumbang</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Lumbang Este, Cajidiocan, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Gener Rubi / Jesusima Rubi</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0906 276 0932</p>
        </div>
    </div>
    <div class="branch">
        <h3>Magdiwang</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">The Grandview Bldg., Bagumbayan, Magdiwang, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Shirlane Pati&ntilde;o / Emma Deloso</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0930 080 5328</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Marigondon</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Tres Juan Store, Recudo, Marigondon, Cajidiocan, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Tereso "Tisoy" Rivero</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0997 073 9140</p>
        </div>
    </div>
    <div class="branch">
        <h3>Otod</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Otod (Talipapa), San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Freda Relox / Jim Relox</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0905 943 4373</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>San Fernando</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">MC Town Center Gov. Sanz St. Poblacion, San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Amilyn Soliman</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0935 325 6907</p>
        </div>
    </div>
    <div class="branch">
        <h3>Taclobo</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Taclobo, San Fernando, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Christy Ruda</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0956 015 0096 / 0926 713 9109</p>
        </div>
    </div>
</div>
<!-- until here -->
<h2>TABLAS ISLAND, ROMBLON</h2>
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Alcantara</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Lota St. Poblacion, Alcantara, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Philip Gacula</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0930 754 1151</p>
        </div>
    </div>
    <div class="branch">
        <h3>Calatrava</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Brgy. Poblacion, Calatrava, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Gina Drilon / Alfeo Moreno</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0939 318 6332 / 0946 001 0271 / 0966 001 0262</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Ferrol</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Dahlia St. Poblacion, Ferrol, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Joan Blasurca</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0977 815 3553</p>
        </div>
    </div>
    <div class="branch">
        <h3>Ligaya, Odiongan</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Tandang Sora St. Brgy. Ligaya, Odiongan, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Eddie Salivio</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0920 262 3848</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Looc</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">#388 Grimares St. Poblacion, Looc, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Angelito "Buknoy" Madrid Tadtad</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0966 134 5144</p>
        </div>
    </div>
    <div class="branch">
        <h3>San Agustin</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Sawang, Dubduban, San Agustin, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Alfeo Moreno</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0939 319 7976</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>San Andres</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Poblacion, San Andres, Romblon (Front of M Lhuillier)</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Dothy Noche Hilario</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0931 017 8890</p>
        </div>
    </div>
    <div class="branch">
        <h3>Santa Fe</h3>
        <p class="branch-text">&nbsp;</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Kali Mart, Poblacion, Santa Fe, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Jhon Evan Madrid</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0998 729 4888</p>
        </div>
    </div>
</div>
<!-- until here -->
<!-- branch div starts here -->
<div class="flex-parent flex-justify">
    <div class="branch">
        <h3>Sta. Maria</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Mata Habagat Store, Malag-alag, Santa Maria, Romblon</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Joan Hernandez</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0927 630 4256</p>
        </div>
    </div>
    <div class="branch">
        <h3>Tulay, Odiongan</h3>
        <p class="branch-text">Daily</p>
        <hr>
        <div class="flex-parent">
            <img src="img/location_pin.svg" class="branch-icon" />
            <p class="branch-text">Brgy. Tulay, Odiongan Romblon (Beside SIM Construction)</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/person_circle.svg" class="branch-icon" />
            <p class="branch-text">Haide Formento</p>
        </div>
        <br>
        <div class="flex-parent">
            <img src="img/telephone_fill.svg" class="branch-icon" />
            <p class="branch-text phone-no">0966 001 0271 / 0939 319 6331</p>
        </div>
    </div>
</div>
<!-- until here -->

<script>
    function dropDownMenu() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
        x.style.display = "none";
        } else {
        x.style.display = "block";
        }
    }
</script>