<h1>TO ADDRESS URGENT MATTERS,</h1>
<h2>PLEASE FEEL FREE TO CONTACT US USING THE INFORMATION PROVIDED BELOW</h2>
<div class="flex-parent flex-justified">
    <div class="round-rec">
        <h4>SMART SUPPORT LINE</h4>
        <div class="flex-parent contact">
            <img class="phone" src="/img/phone.svg">
            <h6>+63 919 288 9950</h6>
        </div>
    </div>
    <div class="round-rec">
        <h4>GLOBE SUPPORT LINE</h4>
        <div class="flex-parent contact">
            <img class="phone" src="/img/phone.svg">
            <h6>+63 917 460 0084</h6>
        </div>
    </div>
    <div class="round-rec">
        <h4>SUPPORT EMAIL</h4>
        <div class="flex-parent contact">
            <img class="phone" src="/img/email.svg">
            <h6 >esmoverscorp@gmail.com</h6>
        </div>
    </div>
</div>
<div class="flex-parent" id="fb-msg">
    <h5>FOR SWIFT INQUIRIES, YOU CAN MESSAGE OUR&nbsp;</h5>
    <h5 id="fb-text">FACEBOOK PAGE</h5>
</div>
<div>
    <a href="https://www.facebook.com/esmoverscorp" target="_blank" rel="noopener noreferrer">
        <div class="flex-parent" id="facebook">
            <img class="img-icon" src="img/facebook.svg">
            <h2 id="fb-name">Express Sealand Movers Corporation</h2>
        </div>
    </a>
</div>