<section id="h-section">
    <h1>EXPRESS SEALAND MOVERS CORPORATION</h1>
    <h2>WE MOVE IT WITH CARE.</h2>
</section>

<section id="about-section">
    <div class="flex-parent flex-centered" id="about-us">
        <h1>ABOUT US</h1>
    </div>
    <div class="carousel-placeholder">
        <!-- Placeholder for carousel -->
        <div class="buttons-container">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        
        <div class="carousel-container">
            
            <div class="carousel-item prev-item"></div>
            <div class="carousel-item curr-item"></div>
            <div class="carousel-item next-item"></div>
        </div>
    </div>
    <div id="description">
            <p class="about-text">Since 2006, Express Sealand Movers Corporation has pioneered freight forwarding solutions, consistently growing to serve clients with dedication and expertise. We Move It with Care by focusing on:</p>
            <h3>Industry Leadership</h3>
            <p class="about-text">As a pioneer since 2006, we've set the standard for reliable and personalized freight services.</p>
            <h3>Continued Growth</h3>
            <p class="about-text">Driven by innovation and adaptability, we expand our services to meet evolving client needs.</p>
            <h3>Customized Solution</h3>
            <p class="about-text">From small parcels to large cargo, we provide tailored logistics solutions for any shipment.</p>
            <h3>Trusted Expertise</h3>
            <p class="about-text">Our years of experience ensure safe, efficient, and customer-focused transport, no matter the distance or destination.</p>
            <p class="about-text" id="outro">Express Sealand Movers Corporation is here to support every step of your logistics journey with proven excellence and care.</p>
        </div>
    <a id="branch-btn" href="/branches">FIND A BRANCH NEAR YOU</a>
</section>

<script>
    let activeSlide = 2;
    function dropDownMenu() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
        x.style.display = "none";
        } else {
        x.style.display = "block";
        }
    }

    function showSlides(index) {
        var prevSlide = index-1
        var currSlide = index
        var nextSlide = index+1
        
        if(prevSlide < 1){
            prevSlide += 27
        } else if(prevSlide > 27) {
            prevSlide -= 27
        }

        if(currSlide < 1){
            currSlide += 27
        } else if(currSlide > 27) {
            currSlide -= 27
        }

        activeSlide = currSlide

        if(nextSlide < 1){
            nextSlide += 27
        } else if(nextSlide > 27) {
            nextSlide -= 27
        }

        var prevSrc = "url(img/slides/slide" + prevSlide + ".jpg)";
        var currSrc = "url(img/slides/slide" + currSlide + ".jpg)";
        var nextSrc = "url(img/slides/slide" + nextSlide + ".jpg)";
        console.log(prevSlide, currSlide, nextSlide)
        $(".prev-item").css("background-image", prevSrc);
        $(".curr-item").css("background-image", currSrc);
        $(".next-item").css("background-image", nextSrc);
    }

    function plusSlides(n){
        activeSlide += n;
        showSlides(activeSlide);
    }


</script>
