<h1>Order Form</h1>
<div>
    <span>Sender*: </span>
    <input type="text" placeholder="Sender" id="inputSender">
</div>
<div class="errorMsg">
    <span id="errorSender"><br/></span>
</div>
<br/>

<div>
    <span>Sender Number*: </span>
    <input type="number" placeholder="09123456789" id="inputSenderNum">
</div>
<div class="errorMsg">
    <span id="errorSenderNum"><br/></span>
</div>
<br/>

<div>
    <span>Receiver*: </span>
    <input type="text" placeholder="Receiver" id="inputReceiver">
</div>
<div class="errorMsg">
    <span id="errorReceiver"></span>
</div>
<br/>

<div>
    <span>Receiver Number*: </span>
    <input type="number" placeholder="09123456789" id="inputReceiverNum">
</div>
<div class="errorMsg">
    <span id="errorReceiverNum"><br/></span>
</div>
<br/>

<div>
    <span>Item Description*: </span>
    <input type="text" placeholder="Item Description" id="inputItem" class="inputItem">
    <button id="addItem"> + </button>
    <div id="moreItems"></div>
</div>
<div class="errorMsg">
    <span id="errorItem"></span>
</div>
<br/>

<div>
    <span>Charge*: </span>
    <input type="number" placeholder="500" id="inputCharge">
</div>
<div class="errorMsg">
    <span id="errorCharge"></span>
</div>
<br/>

<div>
    <span>Estimated Date of Transport*: </span>
    <input type="date" id="inputDate" min="">
</div>
<div class="errorMsg">
    <span id="errorDate"></span>
</div>
<br/>

<div>
    <span>Current Branch*: </span>
    <input type="text" placeholder="Current Branch" id="inputBranch">
</div>
<div class="errorMsg">
    <span id="errorBranch"></span>
</div>
<br/>

<div>
    <span>Destination Branch*: </span>
    <input type="text" placeholder="Destination Branch" id="inputDestBranch">
</div>
<div class="errorMsg">
    <span id="errorDestBranch"></span>
</div>
<br/>


<div>
    <br/>
    <input type="submit" value="Submit Order" id="submitOrder">
    <span id="validate"></span>
    <br/><br/>
</div>