<h1>ORDER FORM</h1>
<div id="main-body">
  <div class="flex-parent flex-wrappable">
    <div class="flex-child">
      <label for="sender-name">Sender's Name*</label>
      <br>
      <input type="text" name="sender-name" class="input-normal" id="inputSender" placeholder="Sender's Name" >
      <br>
      <label for="sender-number">Sender's Mobile Number*</label>
      <br>
      <div class="flex-parent">
        <p class="number-code">+63</p>
        <input type="tel" name="sender-number" class="phone-number" id="inputSenderNum" placeholder="9XX XXX XXXX" >
        <br>
      </div>
    </div>
    <div class="flex-child">
      <label for="sender-name">Receiver's Name*</label>
      <br>
      <input type="text" name="sender-name" class="input-normal" id="inputReceiver" placeholder="Receiver's Name" >
      <br>
      <label for="sender-number">Receiver's Mobile Number*</label>
      <br>
      <div class="flex-parent">
        <p class="number-code">+63</p>
        <input type="tel" name="sender-number" class="phone-number" id="inputReceiverNum" placeholder="9XX XXX XXXX" >
        <br>
      </div>
    </div>
  </div>
    <h2>ITEMS</h2>
  <div class="flex-parent flex-wrappable">
    <div class="flex-child">
      <div class="flex-parent" id="items-div">
        <div class='item-container'>
          <div>
            <h3>Qty.</h3>
            <input type="number" min="1" class="qty-input" placeholder="Qty." >
            <br>
          </div>
          <div>
            <h3>Item Description</h3>
            <input type="text" class="desc-input" placeholder="Item Description" >
            <br>
          </div>
          <div>
            <h3>Cost</h3>
            <input type="number" class="cost-input" min="1" step=".01" placeholder="Cost" >
          </div>
        </div>
      </div>
      <div id="add-btn-div">
        <button id="add-btn" type="button">+ Add Items</button>
      </div>
      <div class="flex-parent" id="charge-discount-div">
        <div>
          <h3 id="charge-label">Charge</h3>
          <p id="charge-calc"></p>
        </div>
        <div id="discount-div">
          <label for="discount">Discount</label>
          <br>
          <input type="number" name="discount" min="0" step=".01" id="discount-input" placeholder="Discount">
        </div>
      </div>
      <label for="charge" id="charge-label">Total Charge*</label>
      <br>
      <p id="total-calc"></p>
  </div>
    <div class="flex-child">
      <label for="edt">Estimated Day of Transport</label>
      <br>
      <input type="date" name="edt" class="input-normal" id="inputDate" min="" >
      <br>
      <label for="origin-branch">Origin Branch*</label>
      <br>
      <select name="origin-branch" id="inputBranch" >
        <option value="">&#40Select Branch&#41</option>
        <option value="Manila">Manila</option>
        <option value="Romblon">Romblon</option>
        <option value="Magdiwang">Magdiwang</option>
        <option value="Cajidiocan">Cajidiocan</option>
        <option value="San-Fernando">San Fernando</option>
      </select>
      <br>
      <label for="dest-branch">Destination Branch*</label>
      <br>
      <select name="dest-branch" id="inputDestBranch" >
        <option value="">&#40Select Branch&#41</option>
        <option value="Manila">Manila</option>
        <option value="Romblon">Romblon</option>
        <option value="Magdiwang">Magdiwang</option>
        <option value="Cajidiocan">Cajidiocan</option>
        <option value="San-Fernando">San Fernando</option>
      </select>
      <div id="btns">
        <button id="cancel-btn">CANCEL</button>
        <input id="submit-btn" type="submit" value="SUBMIT FORM">
      </div>
    </div>
  </div>

  <div id="order-popup" style="display: none;" name="detailsPopup" class="detailsPopup">
    <h1 id="errorTitle">INVALID / MISSING INPUTS</h1>
    <input type="hidden" id="hidden-orderid">
    <table class="popup-table">
        <!--<tr class="popup-tr"></tr>-->
    </table>
    <div class="flex-parent">
        <div class="popup-btns flex-parent"> 
            <button id="close-error-btn">OKAY</button>
        </div>
    </div>
  </div>
</div>

<script>
  function dropDownMenu() {
      var x = document.getElementById("links");
      if (x.style.display === "block") {
      x.style.display = "none";
      } else {
      x.style.display = "block";
      }
  }
</script>