    <h1>TRACK PARCEL</h1>
    <table>
        <tr id="header">
        <th>Tracking Number</th>
        <th>Parcel Status</th>
        <th>Estimated Date of Arrival</th>
        <th>Origin Branch</th>
        <th></th>
        </tr>
        <tr>
            <td>#1A2B3C4D</td>
            <td>To Ship</td>
            <td>December 25, 2024</td>
            <td>Romblon</td>
            <td><a class="details" href="/delivery_details">View Details</a></td>
        </tr>
        <tr>
            <td>#5E6F7G8H</td>
            <td>Received</td>
            <td>December 30, 2024</td>
            <td>Romblon</td>
            <td><a class="details" href="/delivery_details">View Details</a></td>
        </tr>
    </table>
    <a id="button-link" href="/search_parcel">
            <p id="button-text">Back to Search</p>
    </a>