<h1>TRACK PARCEL</h1>
<div id="search-bar">
    <!-- search functionality here -->
    <form>
        <input id="trackingNumber" type="text" placeholder="Enter Tracking Number" name="search" />
        <button id="submitTracker">Track Parcel</button>
    </form>
</div>
<div class="flex-parent" id="msg">
    <p>Having trouble tracking your parcel? Contact us&nbsp;</p>
    <p id="contact-link"><a id="contact-here" href="/contact_us">here</a></p>
    <p>.</p>
</div>

<div id="popup" style="display:none;">
    <img id="question-mark" src="/img/question_mark.svg" />
    <h2>The tracking ID is invalid or might have expired.</h2>
    <p id="popup-msg">Having trouble tracking your parcel? Contact us.</p>
    <a class="contact-us-link" id="contact-us-popup" href="/contact_us">CONTACT US</a>
</div>

<script>
    function dropDownMenu() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
        x.style.display = "none";
        } else {
        x.style.display = "block";
        }
    }
</script>