<h1 style="color: #ffffff">Database table to be added</h1>
<!-- pop up pag view results -->
<div id="popup">
    <h1>TRANSACTION #1A2B3C4D</h1>
    <table>
        <tr>
            <th>Sender:</th>
            <td>Juan dela Cruz</td>
        </tr>
        <tr>
            <th>Receiver:</th>
            <td>Maria Santos</td>
        </tr>
        <tr>
            <th>Item:</th>
            <td>Bag</td>
        </tr>
        <tr>
            <th>Charge:</th>
            <td>800</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>Processing</td>
        </tr>
        <tr>
            <th>EDA:</th>
            <td>December 25, 2024</td>
        </tr>
        <tr>
            <th>Origin Branch:</th>
            <td>Manila</td>
        </tr>
    </table>
    <div id="popup-btns" class="flex-parent">
        <button id="close-btn">CLOSE</button>
        <button id="edit-btn">EDIT DETAILS</button>
    </div>
</div>