body {
    background-color: #fc0404;
    background-image: url(./images/truck.svg);
    background-repeat: no-repeat;
    background-position: center 20vh;
    background-size: auto 90vh;
    margin-top: -16px;
    margin-inline: 0%;
    margin-bottom: 0%;
    max-width: 100%;
    overflow-x: hidden;
}
#navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    height: 115px;
    vertical-align: middle;
    z-index: 1;
}
.flex-parent {
    display: flex;
}
.flex-justified {
    justify-content: space-around;
}
#esmc-logo {
    margin-left: 20px;
}
#menu {
    background-color: #cdcdcd;
    width: 563px;
    height: 40px;
    border-radius: 5px;
    margin-top: 37.5px;
}
p {
    margin-left: 1px;
}
.topbar-links {
    font-family: 'Arial';
    color: #000000;
    text-shadow: 0.25px 0.25px 0.5px;
    margin-top: 11px;
    font-size: 16px;
}
.topbar-menu {
    padding-inline: 10px;
}
#search-page-link {
    text-decoration: none;
    color: #000000;
}
#search-page-link:visited {
    color: #000000;
}
.contact-us-link {
    display: block;
    border: solid;
    border-width: 1px;
    border-color: #0d0d0d;
    background-color: #0d0d0d;
    width: 127px;
    height: 50px;
    border-radius: 5px;
    margin-top: 32.5px;
    text-align: center;
    box-shadow: 1px 1px 5px;
    text-decoration: none;
}
.contact-us-link:visited {
    color: #fffaeb;
}
.contact-us-text {
    color: #fffaeb;
    margin-top: 16px;
    font-family: 'Arial';
    text-shadow: 0.25px 0.25px 0.5px;
    font-size: 16px;
}
h1 {
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 40px;
    color: #fffaeb;
    margin-left: 50px;
    margin-top: 50px;
}
h2 {
    font-family: 'Arial';
    font-size: 20px;
    color: #fffaeb;
    margin-left: 50px;
    font-weight: normal;
}
.round-rec {
    border-style: solid; 
    border-radius: 35px;
    border-width: 5px;
    border-color: #fffaeb;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 1px 1px 5px;
}
h4 {
    font-family: 'Arial';
    font-size: 20px;
    color: #fffaeb;
    margin-top: 0;
}
h6 {
    font-family: 'Arial';
    font-weight: normal;
    color: #fffaeb;
    margin: 0;
    margin-left: 10px;
    margin-top: 1.5px;
    font-size: 15px;
}
.contact {
    justify-content: center;
}
.phone {
    width: 24px;
}
#fb-msg {
    height: 10vh;
    width: 100%;
    background-color: #fffaeb;
    margin-top: 10vh;
    padding-left: 3vw;
    margin-bottom: 0vh;
}
h5 {
    font-family: 'Arial';
    font-size: 20px;
    color: #371010;
    text-wrap: nowrap;
    margin-top: 3.5vh;
}
#fb-text {
    color: #ae161e;
}
a {
    text-decoration: none;
}
#facebook {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translate(-50%, 0);
}
.img-icon {
    width: 70px;
}
#fb-name {
    font-family: 'Arial Narrow';
    font-weight: bold;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 50px;
    text-wrap: nowrap;
}
footer {
    background-color: #58020e;
    text-align: center;
    margin-top: 200px;
    width: 100%;
    padding: 5px;
}
#copyright {
    color: #ffffff;
    font-family: 'Arial';
    font-size: 16px;
    font-weight: 600;
}